@import url('https://fonts.googleapis.com/css2?family=Playwrite+RO:wght@100..400&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

.winky-sans {
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500; /* 300 to 900 */
    font-style: normal;
}
  
.playwrite-ro {
    font-family: "Playwrite RO", cursive;
    font-optical-sizing: auto;
    font-weight: 250;  /* 100 to 400 */
    font-style: normal;
    font-size: 40px;
}

code, code * {
    margin: 0 !important;
    padding: 0 !important;

}

.paper h1, 
.paper h2,
.paper h3,
.paper h4,
.paper h5 {
    margin: 0 0 55px 0 !important;
    text-align: center;
    font: inherit;
    font-size: 40px;
    text-decoration: underline wavy;
}

.paper p,
.paper ul,
.paper ol {
    font-size: 30px;
    margin: 0 0 55px 0 !important;
}

.paper pre {
    margin: 0 0 55px 0 !important;
}

.paper p:last-child
.paper ul:last-child
.paper ol:last-child
.paper pre:last-child {
    margin: 0px !important;
}

.paper ul {
    list-style: circle;
}
.paper ol {
    list-style:lower-alpha;
}

.paper code {
    border: 1px solid #1E4E8C;
    border-radius: 10px;
    padding: 5px !important;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400; /* 200 to 900 */
    font-style: normal;
    font-size: 25px;
}

.paper pre code {
    background-color: rgba(255, 255, 255, 0.7);
}